@CHARSET "UTF-8";
body{
	margin:0;
	background-color:white;
	font-family:Helvetica, Arial, Sans-Serif;
	background-color:#FFDF9E;
	background-image:url(img/bg-noisy.png);
	background-repeat:repeat;
}
table,th,td{
	border:1px solid #A68035;
	border-collapse:collapse;
	padding:5px;
}
table{
	border-spacing:0px;
}
#center_container{
	position:absolute;
    left:50%;
    height:100%;
    width:800px;
    margin-left:-400px;
	background-color:#FFE8BB;
}

/* Header */
#header_container{
	background-color:#606060;
	height:60px;
	font-family: Georgia, serif;
}
#logo{
	display:block;
	position:relative;
	top:10px;
	left:10px;
	height:40px;
	width:200px;
	background-color:#5AA635;
	border:1px solid black;
	text-align:center;
	text-decoration:none;
	color:black;
	/* Закруглённые края */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/*Header menu*/
#controls_container{
	position:absolute;
	text-align:right;
	right:10px;
	top:5px;
}
#controls_container ul li{
	display:inline;
	font-size:16px;
	margin:15px;
	border:solid 1px #FFD783;
	padding:2px;
	/* Закруглённые края */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#controls_container ul li a:link{
	color:white;
	text-decoration:none;
}
#controls_container ul li a:visited{
	color:white;
}
#controls_container ul li a:hover{
	color:#FFD783;
}


/*  */
.button{
	font-size:16px;
	margin:15px;
	border:solid 1px #FFD783;
	padding:2px;
	font-family: Georgia, serif;
	background-color:#606060;
	color:white;
	/* Закруглённые края */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.button:hover{
	color:#FFD783;
}
#btnNewQuestion{
	margin:15px;
	font-family: Georgia, serif;
	font-size:16px;
	font-weight:bold;
	/* Закруглённые края */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#table_container{
	margin:0px;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:25px;
	background-color:#FFE8BB;
}


/* Login page */
#login_form_container{
	width:300px;
	height:190px;
	position:absolute;
	left:50%;
	margin-left:-150px;
	top:200px;
	padding:15px;
	background-color:#606060;
	color:white;
	/* Закруглённые края */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#login_form_container a:visited{
	color:#FFD783;
}
.inputs{
	outline:none;
	display:block;
	width:280px; 
	padding:4px 8px; 
	border:1px solid black; 
	color:#3F3F3F;
	font-size:20px; 
	-webkit-border-radius: 2px; 
	-moz-border-radius: 2px; 
	border-radius: 2px;
	-webkit-transition: background 0.2s linear,
	 box-shadow 0.6s linear;
	-moz-transition: background 0.2s linear,
	 box-shadow 0.6s linear;
	-o-transition: background 0.2s linear,
	 box-shadow 0.6s linear;
	transition: background 0.2s linear,
	 box-shadow 0.6s linear;
}
.inputs:focus { 
	background:#FFD783; 
	border:solid 1px black; 
	-webkit-box-shadow:2px 2px 7px #E8E8E8 inset; 
	-moz-box-shadow:2px 2px 7px #E8E8E8 inset; 
	box-shadow:2px 2px 7px #E8E8E8 inset; 
}