@CHARSET "UTF-8";
body{
	margin:0;
	background-color:white;
	font-family:Helvetica, Arial, Sans-Serif;
	background-color:white;
	/*background-image:url(img/bg-noisy.png);*/
	background-repeat:repeat;
}
table,th,td{
	border:1px solid #A68035;
	border-collapse:collapse;
	padding:5px;
}
table{
	border-spacing:0px;
}
#center_container{
	position:absolute;
    left:50%;
    width:770px;
    margin-left:-400px;
	background-color:#FEFCE0;
	top:95px;
	padding:15px;
}

/* Header */
#header_container{
	position:absolute;
	height:60px;
	width:800px;
	left:50%;
	margin-left:-400px;
	font-family: Georgia, serif;
	top:15px;
	background-color:#606060;
}
#logo{
	display:block;
	position:relative;
	top:10px;
	left:10px;
	height:40px;
	width:200px;
	background-color:#FFD783;
	text-align:center;
	text-decoration:none;
	color:black;
}

/*Header menu*/
#controls_container{
	position:absolute;
	text-align:right;
	right:10px;
	top:5px;
}
#controls_container ul li{
	display:inline;
}
#controls_container ul li a{
	font-size:16px;
	margin:15px;
	padding:2px;
	background-color:white;
}
#controls_container ul li a:link{
	color:black;
	text-decoration:none;
}
#controls_container ul li a:visited{
	color:black;
}
#controls_container ul li a:hover{
	background-color:#AEDD94;
}


/*  */
.button{
	font-family: Georgia, serif;
	font-size:16px;
	background-color:white;
	text-decoration:none;
	padding:2px;
}
.button-inline{
	margin:15px;
	font-family: Georgia, serif;
	font-size:16px;
	padding:2px;
	background-color:white;
	color:black;
	text-decoration:none;
}
.button:hover{
	background-color:#AEDD94;
}
.rounded{
	border:solid 2px black;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
/* Login page */
#login_form_container{
	width:300px;
	height:190px;
	position:absolute;
	left:50%;
	margin-left:-150px;
	top:200px;
	padding:15px;
	background-color:#606060;
	color:white;
}
#login_form_container a:visited{
	color:#FFD783;
}
/* Register page */
#register_form_container{
	width:300px;
	height:350px;
	position:absolute;
	left:50%;
	margin-left:-150px;
	top:75px;
	padding:15px;
	background-color:#606060;
	color:white;
}
#register_form_container a:visited{
	color:#FFD783;
}
#profile_form{
	position:absolute;
	top:90px;
	left:250px;
}
.inputs{
	outline:none;
	display:block;
	width:280px; 
	padding:4px 8px;
	color:#3F3F3F;
	font-size:20px;
	-webkit-transition: background 0.2s linear,
	 box-shadow 0.6s linear;
	-moz-transition: background 0.2s linear,
	 box-shadow 0.6s linear;
	-o-transition: background 0.2s linear,
	 box-shadow 0.6s linear;
	transition: background 0.2s linear,
	 box-shadow 0.6s linear;
}
.inputs:focus { 
	background:#AEDD94;
	-webkit-box-shadow:2px 2px 7px #E8E8E8 inset; 
	-moz-box-shadow:2px 2px 7px #E8E8E8 inset; 
	box-shadow:2px 2px 7px #E8E8E8 inset; 
}
.output{
	width:790;
	margin-bottom:20px;
	padding:5px;
	background-color:white;
	border:solid 2px black;
}
.input_textarea{
	width:765px;
	height:300px;
	resize:none;
}